@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #242424;
    line-height: 1.5;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.bold__text{
    font-size: 64px;
    font-weight: 700;
}
.click{
    cursor: pointer;
}

/* navbar */

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;

}
.navbar{
    position: relative;
}
.navbar__background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

.logo__wrapper{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.nav__logo{
    font-size: 88px;
    color: white;
    
  
}
.nav__logo--title{
    font-size: 34px;
    font-weight: 600;
    color: white;
    font-family:"Playfair Display", serif;
}
.nav__links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__link{
    padding: 0 24px;
    font-weight: 600;
    color: white;
}




/* header */
header{
    position: relative;
 
}
.header__background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .3;
}
.header__title{
    font-size:36px;
    font-weight: 600;
    text-align: center;
}
.header__sub-title{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
    margin-bottom: 24px;
}
.header__container{
padding: 36px 0;
height: 100%;
}
.header__row{
    margin: 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#search__input{
    padding: 12px 12px;
    border-radius: 50px;
    border: none;
    width: 500px;
}

.search{
    display: flex;
    position: relative;
}
.search__input--btn{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    padding: 4px;
    border:none;
    background-color: black;

}
.search__input--btn i{
    color: white;
}

/* search results section */

.search__results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search__results--title{
    font-size:48px ;
    font-weight: 700;
    padding: 24px 0;
}
.search__results--list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 12px;
}
.movies{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;  
    width: 100%;
    max-width: 1000px;

}

.movie{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    min-height: 500px;
    border-radius: 12px;
    overflow: hidden;
    padding: 4px;
    margin: 12px 24px;
    box-shadow: 0 80px 80px 24px #242424;
    
}
.movie__poster{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50%;
    width: 100%;
}
.movie__poster--image{
    height: 100%;
    width: 100%;
}
.movie__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:stretch;
    height: 100%;
    padding: 24px;
    text-align: center;
}
.movie__title{
    font-size: 24px;
    font-weight:600;

}

/* loading state  */
.loading__state{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0;
}
.fa-spinner{
    font-size: 200px;
    animation: rotate 1000ms infinite linear;
} 
@keyframes rotate {
    0% {transform: rotate (0);}
    100% { transform: rotate(360deg);}
}
.loading__state--visible{
    opacity: 1;
    z-index: 5;
}
.loading__state--visible header{
    opacity: .3;
    filter: grayscale(-50%);
}
    

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 48px ;
}
.footer__background{
    position: absolute;
    width: 100%    ;
    height: 100%;
    opacity: .6;
    z-index: -1;
}